@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}


<!-- //////// Page Styling //////// -->

<style>

    /**** Login Button ****/
    .signInBtn {
        width: 100%;
        padding: 10px 20px;
        outline: none;
        font-weight: 500;
        border: none;
        font-size: 16px;
        letter-spacing: 1px;
        color: #ffffff;
        background: #673AB7;
        border-radius: 30px;
        cursor: pointer;
        margin-bottom: 15px;
        /*box-shadow: 5px 5px 5px purple;*/
    }

    .signInBtn:hover {
        background: #7E57C2;
    }


    h1 {
        color: mediumpurple;
    }

    .input {
        border: solid 3px #673AB7;
        border-radius: 20px;
        margin-bottom: 10px;
    }

</style>


<h1>@ViewData["Title"]</h1>
<h2>Enter your email.</h2>
<hr style="height:2px; background-color:black; margin-bottom: 5px; margin-right: 40%; margin-bottom:20px" />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control input" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="signInBtn">Reset Password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
