@page "/aboutUs"


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>

<style>
    .parallax {
        /* The image used */
        background-image: url("images/Flowers1.jpg");
        /* Set a specific height */
        min-height: 500px;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .parallax2 {
        /* The image used */
        background-image: url("images/Flowers3.jpg");
        /* Set a specific height */
        min-height: 500px;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .parallax3 {
        /* The image used */
        background-image: url("images/Flowers2.jpg");
        /* Set a specific height */
        min-height: 500px;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .parallax4 {
        /* The image used */
        background-image: url("images/SocialMedia.jpg");
        /* Set a specific height */
        min-height: 500px;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .parallax5 {
        /* The image used */
        background-image: url("images/ThankYou.jpg");
        /* Set a specific height */
        min-height: 1000px;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }


    .text {
        background-color: white;
        color: black;
        font-size: 10vw; /* Responsive font size */
        font-weight: bold;
        margin: 0 auto; /* Center the text container */
        padding: 10px;
        width: 60%;
        text-align: center; /* Center text */
        position: absolute; /* Position text */
        top: 5.5%; /* Position text in the middle */
        left: 50%; /* Position text in the middle */
        transform: translate(-50%, -50%); /* Position text in the middle */
        mix-blend-mode: screen; /* This makes the cutout text possible */
        box-shadow: 0px 0px 30px pink;
    }


    /**********************************************/

    .fa {
        padding: 20px;
        font-size: 15px;
        width: 55px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        border-radius: 50%;
        opacity: 0.9;
    }

.fa:hover {
    opacity: 0.8;
    background-color: mediumpurple;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.fa-facebook {
        background-color: #673AB7;
    color: white;
}

.fa-twitter {
        background-color: #673AB7;
        color: white;
}

.fa-google {
        background-color: #673AB7;
        color: white;
}

.fa-linkedin {
        background-color: #673AB7;
        color: white;
}

.fa-youtube {
        background-color: #673AB7;
        color: white;
}

.fa-instagram {
        background-color: #673AB7;
        color: white;
}

.fa-pinterest {
        background-color: #673AB7;
        color: white;
}

.fa-snapchat-ghost {
        background-color: #673AB7;
        color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-reddit {
        background-color: #673AB7;
        color: white;
}



h1{
        font-family: 'Sofia'
}





    .card5 {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 300px;
        margin: auto;
        text-align: center;
    }

    .title5 {
        color: grey;
        font-size: 18px;
    }

    .button4 {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: mediumpurple;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
    }

    .a3 {
        text-decoration: none;
        font-size: 22px;
        color: black;
    }

    .button4:hover, a:hover {
        opacity: 0.7;
    }


</style>


<div class="parallax2">
    <div class="text">ABOUT US</div>
</div>


<div style="font-size: 24px; padding:50px 90px; text-align: justify;">
    <h1 style="color: mediumpurple">Who We Are:</h1>
    We are one of South Africa's <b style="color:mediumpurple;">leading</b> florists.
    <br />We are so pleased that you have decided to learn more about us.
</div>


<div class="parallax"></div>

<div style="font-size: 24px; padding:50px 90px; text-align: justify;">
    <h1 style="color: mediumpurple">What We Do:</h1>
    We strive to be the <b style="color:mediumpurple;">best</b> at what we do.
    <br /> We do this by: <br />
    <br />We hand select and plant the seeds for the best quality
    <br />We then care for and nurtcher the <b style="color:mediumpurple;">flowers</b> through all the stages of their lives.
    <br />Then we hand pick the best flowers and sell them.
</div>


<div class="parallax3"></div>

<div style="font-size: 24px; padding:50px 90px; text-align: justify;">
    <h1 style="color: mediumpurple">Thank you</h1>
    Thank you <b style="color:mediumpurple;">so much</b> for learning more about us.
    <br />Hopefully we will get to know more about you as well.
    <br />Feel free to contact us for more information or sign
    up for our <b style="color:mediumpurple;">monthly</b> newsletter.
</div>


<div class="parallax4"></div>

<div style="font-size: 24px; padding:50px 90px; text-align: justify;">
    <h1 style="color: mediumpurple">Social Media Accounts</h1>
    Reach out to us on <b style="color:mediumpurple;">social media</b>. 
    <br />We look forward to hearing from you:

    <br /><br />
    <a href="#" class="fa fa-facebook"></a>
    <a href="#" class="fa fa-twitter"></a>
    <a href="#" class="fa fa-google"></a>
    <a href="#" class="fa fa-linkedin"></a>
    <a href="#" class="fa fa-youtube"></a>
    <a href="#" class="fa fa-instagram"></a>
    <a href="#" class="fa fa-pinterest"></a>
    <a href="#" class="fa fa-snapchat-ghost"></a>
    <a href="#" class="fa fa-reddit"></a>


</div>


<div class="parallax2"></div>


<div style="font-size: 24px; padding:50px 90px; text-align: justify;">
    <h1 style="color: mediumpurple">Contact Me Directly:</h1>

    <div class="card5" style="margin-top: 30px">
        <img src="images/Employee1.jpg" alt="John" style="width:100%">
        <h2>John Doe</h2>
        <p class="title5">CEO & Founder</p>
        <p>Harvard University</p>
        <a href="#"><i class="a3 fa fa-twitter"></i></a>
        <a href="#"><i class="a3 fa fa-linkedin"></i></a>
        <a href="#"><i class="a3 fa fa-facebook"></i></a>
        <p><button class="button4">Contact</button></p>
    </div>

</div>



<div class="parallax5"></div>


@code {

}
