@page "/fetchdata"

<PageTitle>Weather forecast</PageTitle>

@using BlazorApp3.Data
@inject WeatherForecastService ForecastService

<h1 style="color:mediumpurple;">Weather forecast</h1>

<p>Know the perfect day to go pick your flowers. Check out the weather forecast below:</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead style="color:mediumpurple">
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

<img style="width:100%; margin-bottom: 20px" src="images\Weather2.jpg" />


@code {
    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }
}
